#clock {
    position: relative;
    height: 100px;
    width: 100px;
    float: right;
    background-image: url("../png/clock.png");
    background-size: contain;
    margin-top: 65px;
    &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: 10px;
        height: 10px;
        background: #e0f2f1;
        border-radius: 50%;
        z-index: 1;
    }
    #hours, #min, #sec {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -90%);
        border-radius: 20px;
    }
    #hours {
        left: 50%;
        top: 10%;
        height: 40px;
        width: 2px;
        background-color: #ff5252;
        transform-origin: bottom;
    }
    #min {
        left: 50%;
        top: 0;
        height: 50px;
        width: 3px;
        background-color: #e0f2f1;
        transform-origin: bottom;
    }
    #sec {
        left: 50%;
        top: 0;
        height: 50px;
        width: 2px;
        background-color: #e0f2f1;
        transform-origin: bottom;
    }
}