.navbar-dark .navbar-nav li:last-child a  {
    color: #80deea;
}
.navbar-dark .navbar-nav li:last-child a:hover  {
    color: #e57373;
}
.navbar-dark .navbar-nav li:last-child a:focus  {
    color: #e57373;
}

