 #skillsSection {
     min-height: 80vh;
     background-color: $mainBlackColor;
     font-family: $quickSandFont;
     #skillsHeader {
         color: $cyanColorForImportantTexts;
         font-size: 30px;
     }
     #skillsContainer{
         .skill {
             height: 10vh;
             width: 80%;
             border-radius: 5px;
             box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.555);
             background-size: contain;
             background-position: 5px;
             background-repeat: no-repeat;
             font-size: 40px;
         }
         p {
             margin-left: 90px;
         }
         #skill1 {
             background-image: url("../png/html.png");
         }
         #skill2 {
             background-image: url("../png/css.png");
         }
         #skill3 {
             background-image: url("../png/sass.png");
             background-position: -20px;
             background-size: 40%;
         }
         #skill4 {
             background-image: url("../png/js.png");
         }
         #skill5 {
             background-image: url("../png/react.png");
         }
         #skill6 {
             background-image: url("../png/bootstrap.png");
         }
         #skill7 {
             background-size: 28%;
             background-image: url("../png/materialUi.png");
         }
         #skill8 {
             background-image: url("../png/git.png");
         }
         #skill9 {
             background-image: url("../png/photoshop.png");
         }
     }
 }