#skillsSection {
    min-height: 30vh;
    background-color: $mainBlackColor;
    font-family: $quickSandFont;
    #skillsHeader {
        color: $cyanColorForImportantTexts;
        font-size: 30px;
    }
    #skillsContainer{
        .skill {
            height: 10vh;
            border-radius: 5px;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.555);
            background-size: contain;
            background-position: 5px;
            background-repeat: no-repeat;
            font-size: 40px;
        }
        p {
            margin-left: 25%;
        }
        #skill1 {
            background-image: url("../png/html.png");
        }
        #skill2 {
            background-image: url("../png/css.png");
        }
        #skill3 {
            background-image: url("../png/js.png");
        }
        #skill4 {
            background-image: url("../png/react.png");
        }
        #skill5 {
            background-image: url("../png/sass.png");
        }
        #skill6 {
            background-image: url("../png/bootstrap.png");
        }
        #skill7 {
            background-image: url("../png/materialUi.png");
        }
        #skill8 {
            background-image: url("../png/git.png");
        }
        #skill9 {
            background-image: url("../png/photoshop.png");
        }
    }
}
@include media-breakpoint-up(lg) {
    #skillsSection {
        background-color: $mainBlackColor;
        font-family: $quickSandFont;
        #skillsHeader {
            color: $cyanColorForImportantTexts;
            font-size: 30px;
        }
        #skillsContainer{
            display: flex;
            flex-wrap: wrap;
            .skill {
                font-size: 40px;
                width: 30%;
            }
        }
    }
}
