// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Quicksand&display=swap');
$interFont: "Inter", sans-serif;
$quickSandFont: 'Quicksand', sans-serif;

// colors
$mainBlackColor: #222733;
$mainGreenColor: #00897b;
$cyanColorForImportantTexts:#80deea;
