/* Error: Undefined mixin.
 *    ,
 * 40 | / @include media-breakpoint-up(lg) {
 * 41 | |     #introduction-section {
 * 42 | |         height: 100vh;
 * 43 | |         background-image: url("../png/waves2.png");
 * 44 | |         background-repeat: no-repeat;
 * 45 | |         background-position: bottom;
 * 46 | |         background-size: 130%, 100%;
 * 47 | |     }
 * 48 | \ }
 *    '
 *   _headerSection.scss 40:1  @import
 *   styles.scss 3:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 40 \2502  \250c  @include media-breakpoint-up(lg) {\a 41 \2502  \2502      #introduction-section {\a 42 \2502  \2502          height: 100vh;\a 43 \2502  \2502          background-image: url("../png/waves2.png");\a 44 \2502  \2502          background-repeat: no-repeat;\a 45 \2502  \2502          background-position: bottom;\a 46 \2502  \2502          background-size: 130%, 100%;\a 47 \2502  \2502      }\a 48 \2502  \2514  }\a    \2575 \a   _headerSection.scss 40:1  @import\a   styles.scss 3:9           root stylesheet';
}
